/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
!/log/.keep
/tmp
!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/coverage
/log
/public/system
/public/uploads
/config/database.yml
/.byebug_history
*.un~
.vscode
dump.rdb
